@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

body {
    display: flex;
    align-items: center;
    flex-direction: column;

    font-family: "Inter", sans-serif;
    font-weight: 500;

    gap: 32px;

    position: relative;
}

img {
    width: 474px;
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    width: 500px;
    max-width: 90%;

    > h1 {
        font-size: 36px;
    }

    > h1 > span {
        color: #ff9900;
    }
    > p > span {
        color: #ff9900;
    }

    > nav {
        display: flex;
        gap: 16px;
        margin-top: 32px;
    }

    > nav > a {
        color: #ff9900;
    }
}

.img_balls {
    width: 90px;
    position: absolute;
    right: 0;
    bottom: 0;
}
